.button {
  padding: 16px 40px;
  border: none;
}

.blue {
  background-color: #1df0bb;
  color: #4e2fd2;
}

.purple {
  background-color: #4e2fd2;
  color: #fff;
}

/* .lightGrey {
  background-color: #1df0bb;
  color: #4e2fd2;
  background-blend-mode: luminosity;
}

.darkGrey {
  background-color: #1df0bb;
  color: #4e2fd2;
} */
